.form-container {
    width: 50%; 
    margin: 0 auto; 
    text-align: center; 
  }
  
  .dropdown-container {
    margin-bottom: 20px; 
  }
  
  .dropdown-container select {
    width: 200px; 
    padding: 5px; 
  }
  
  .input-fields-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px; 
  }
  
  .input-row {
    flex: 0 0 30%; 
    margin-bottom: 10px; 
  }
  
  .input-row label {
    display: block; 
  }
  
  .input-field {
    width: calc(100% - 50px); 
    padding: 5px; 
  }
  
  .submit-button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background-color: #45a049; 
  }
  .custom-dropdown {
    width: 200px; 
    height: 40px; 
    padding: 8px; 
    font-size: 16px; 
  }